@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;

  text-decoration: none;

  color: rgb(10, 10, 10);
}

body {
  background-color: #eaeaea;
  min-height: 100%;
}

h1 {
  font-family: "Playfair Display";
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  color: #f7d30a;
  font-size: 1.5em;
  font-weight: 400;

  margin-bottom: 2rem;
}

h3 {
  font-family: "Playfair Display";
  font-size: 1.5em;

  margin-bottom: 0.5em;
}

h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5em;

  margin-bottom: 0.25em;
}

h5 {
  font-family: "Montserrat";
  font-size: 1em;

  margin-bottom: 0.25em;
}

h6 {
  font-family: "Montserrat";
  font-size: 0.75em;
  font-weight: 600;
  color: rgb(110, 110, 110);

  margin-bottom: 0.25em;
}

p {
  margin-bottom: 0.5em;
}

.resume {
  max-width: 680px;
  padding: 2.5em 5em;
  width: 66%;
  margin: 2rem auto;
  background-color: #fafafa;

  box-shadow: 0 1em 1em #1a1a1a20;
}

.row {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 1em;
}

.left {
  flex-basis: 40%;
}

.left hr {
  margin-bottom: 0.5em;
  width: 2rem;
}

.right {
  flex-basis: 60%;
}

.right hr {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 680px) {
  * {
    font-size: 12px;
  }

  .resume {
  }

  .row {
    flex-direction: column !important;
  }

  .right hr {
    display: none !important;
  }
}
